<%- include('../../layout/header')  %>
    <h1 class="page_title">Book Details</h1>
    <%- include('../../components/bookCard', {book: book, type: 'bookDetails'}) %> 
    </div>
<%- include('../../layout/footer') %> 