<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Search for a Book</title>
</head>
<body>
    <form class="search_form" id="search_form" method="post" action="/searches">
        <div class="inputContainer">
            <input type="text" name="keyword" placeholder="Enter a tilte or auther">
        </div>
        <div class="inputContainer">
            <input type="radio" name="search_by" value="intitle" id="intitle">
            <label for="title">Title</label>
        </div>
        
        <div class="inputContainer">
            <input type="radio" name="search_by" value="inauthor" id="inauthor">
            <label for="title">Auther</label>
        </div>
        <input type="submit" value="Search the Google Books API">
    </form>
    
    <script src="js/app.js"></script>
</body>
</html>