<%- include('../../layout/header')  %> 
    <p class="page_title">Search by Tilte or Auther</p>
    <div class="form_container">
        <form class="search_form" id="search_form" method="post" action="/searches">
            <div class="input_container">
                <input type="text" name="keyword" placeholder="Enter a tilte or auther">
            </div>
            <div class="input_container">
                <input type="radio" name="search_by" value="intitle" id="intitle">
                <label for="title">Title</label>
            </div>
            
            <div class="input_container">
                <input type="radio" name="search_by" value="inauthor" id="inauthor">
                <label for="title">Auther</label>
            </div>
            <div class="input_container">
                <input type="submit" value="Search the Google Books API">
            </div>
        </form>
    </div>
<%- include('../../layout/footer') %> 