<%- include('../../layout/header')  %> 
    <h1 class="page_title">Search Result</h1>
    <% books.forEach(book => { %>
      <%- include('../../components/bookCard', {book: book, type: 'searchResult'}) %> 
    <% }) %>
<%- include('../../layout/footer') %> 