<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Book Dict</title>
  </head>
  <body>
    <header>
      <div class="headerTop">
        <div class="logo">Best Books!</div>
        <div class="hamburgerMenu">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <nav class="none">
        <ul>
          <li><a href="/">Home Page</a></li>
          <li><a href="/searches/new">Search</a></li>
        </ul>
      </nav>
    </header>
    <main>