.form_container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search_form, .edit_book_form {
  margin-top: 50px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e3e4;
  padding: 15px 15px;
  border-radius: 5px;
}

.input_container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(211, 207, 207);
  color: black;
  margin-top: 20px;
}

.input_container:first-child {
  background-color: white;
}

.input_container input[type='radio'] {
  margin-left: 20px;
}

.input_container input[type='text'],
.search_form input[type='submit'] {
  width: 100%;
  height: 100%;
}

.input_container.textarea {
  min-height: 200px;
}

.input_container textarea {
  width: 100%;
  height: 100%;
}

.search_form input[type='submit'] {
  background-color: #00B5E5;
  font-weight: 700;
  border: none;
  color: white;
  cursor: pointer;
}

.input_container label {
  margin-left: 15px;
}

.add_new_book_form {
  width: 80%;
}

.add_new_book_form button, .book_save_btn {
  padding: 15px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #00B5E5;
  margin-top: 40px;
  border: none;
  cursor: pointer;
}

.edit_book_form {
  background-color: rgba(174, 166, 184, 0.514);
  border: grey 1px solid;
  padding: 50px;
}

.book_save_btn {
  margin-top: 0;
  padding: 15px 30px;
  border-radius: 5px;
}

.edit_book_form .input_container {
  flex-direction: column;
  align-items: flex-start;
  background-color: unset;
}

.edit_book_form .input_container label {
  margin-left: 0;
  margin-bottom: 5px;
}

#edit_book_form_container {
  display: none;
}