<%- include('../layout/header')  %> 
  <div class="error_container">
    <h1>Somthing Went Wrong</h1>
    <p>You can go to<a href="/"> home page</a></p>
  </div>
<%- include('../layout/footer') %> 
      