<%- include('../layout/header')  %> 
    <h1 class="total_saved_books">Total saved books: <%= totalCount %> </h1>
    <% books.forEach(book => { %>
      <%- include('../components/bookCard', {book: book, type: 'savedBookResult'}) %> 
    <% }) %>
<%- include('../layout/footer') %> 
